@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
h1{
    margin-top: 0px;
    margin-bottom: 24px;
    color: #0b0b2c;
    font-size: 70px;
    font-family:'Plus Jakarta Sans', sans-serif;
    line-height: 1.133em;
    font-weight: 600;
}
h2{
    margin-top: 0px;
    margin-bottom: 18px;
    color: #0b0b2c;
    font-size: 40px;
    font-family:'Plus Jakarta Sans', sans-serif;
    line-height: 1.2em;
    font-weight: 600;
    letter-spacing: 0.01em;
}
h3{
    color: #0b0b2c;
    font-size: 25px;
    line-height: 1.36em;
    margin-bottom: 10px;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.01em;
}
p{
    color: #69697b;
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.667em;
    color: #69697b;
}
span{
    color: #2c23d2;
    font-family:'Plus Jakarta Sans', sans-serif;
 }
.divider{
    align-self: center;
    margin-left: 10%;
    width: 80%;
    height: 1px;
    background-color: #cfcfdb;
}
input[type="text"],input[type="phone"],input[type="number"]{
    border: none;
    border-bottom: solid 2px #2c23d2;
    height: 30px;
    font-family:'Plus Jakarta Sans', sans-serif;
    margin-right: 30px;
    outline: none;
}
input[type="email"]{
    border: none;
    border-bottom: solid 2px #2c23d2;
    height: 30px;
    font-family:'Plus Jakarta Sans', sans-serif;
    margin-right: 30px;
    outline: none;
    width: 250px;
}
input[type="date"]{
    border: none;
    border-bottom: solid 2px #2c23d2;
    height: 30px;
    font-family:'Plus Jakarta Sans', sans-serif;
    margin-right: 30px;
    outline: none;
    width: 200px;
    letter-spacing: 9px;
}
input[type="radio"]{
    width: 15px;
    height: 15px;
}
input[type="submit"]{
    position: absolute;
    margin-top: 31em;
    left: 250px;
    border-color:#3434ff;
    color: #3434ff;
    border-radius: 4px;
    border-width: 1px;
    padding: 12px 32px;
    font-size: 18px;
    line-height: 20px;  
}
input[type="submit"]:hover{
    background-color: #2c23d2;
    color: #ffffff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#course{
    border-bottom: solid 2px #2c23d2;
    height: 30px;
    font-family:'Plus Jakarta Sans', sans-serif;
    margin-right: 30px;
    outline: none;
}
.address{
    width: 358px;
}







#heading{
    margin-top: 50px ;
    text-align: center;
}
#container{
    position: relative;
    width: 40em;
    height: 40em;
    background-color: #ddd;
    margin-left: 27%;
    border-radius: 20px;
    margin-bottom: 100px;
}
#section1{
    position: absolute;
    margin-left: 20px;
    margin-bottom: 40px;
    top: 20px;
}
#section2{
    position: absolute;
    margin-left: 20px;
    margin-bottom: 40px;
    top: 110px;
}
#section3{
    position: absolute;
    margin-left: 20px;
    margin-bottom: 40px;
    top: 210px;
}
#section4{
    position: absolute;
    margin-left: 0px;
    margin-bottom: 40px;
    top: 210px;
    left: 250px;
}
#section4 h3{
    margin-left: 20px;
}
#section4 label{
    font-family:'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.667em;
    margin-left: 20px ;
}
#section5{
    position: absolute;
    margin-left: 20px;
    margin-bottom: 40px;
    top: 300px;
}
#section6{
    position: absolute;
    margin-left: 20px;
    margin-bottom: 40px;
    top: 300px;
    left: 250px;
}
#section7{
    position: absolute;
    margin-left: 20px;
    margin-bottom: 40px;
    top: 400px;
}
